<h1>Add a new book</h1>
<br />
<%= link_to('Back to Home', {:action => 'home'}) %> <br/>

<!--Example: Accessing instance variables from controller
ID: <%= @id %> <br />
Page: <%= @page %> <br />
Next Page: <%= @page.to_i + 1 %>-->
